<!-- This line optimized the site for whatever device it is being viewed through -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <center> <h1>{% block title %} Welcome to BiologySolver.com {% endblock %}</h1></center>
<body>

<center><h3>This tool will transcribe a DNA sequence into RNA  and then translate it into the correct amino acid sequence</h3></center>
<body style="background-color:#1c87c9;">


<center><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fopensource.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fimage-full-size%2Fpublic%2Flead-images%2Fdna_helix_science_genetics.png%3Fitok%3DqGZz5RkX&f=1&nofb=1"></center>
    <h1></h1>
   <center> <p>Remember that DNA sequences only contain A,T,C,G.</p></center>
   <!-- This is the form POST that takes user input to create the DnaSeq variable that is used in app.py -->
<form method="POST">
    <center> <label for="dna">Enter your DNA sequence here</label>
    <input name="DnaSeq" id="dna" type="text" required/>
    <input type="submit">
    </center>
</form>
</body>

